﻿@model List<UniversityRatingSystem.Models.ColumnDataInViewModel>

@{
    ViewBag.Title = "DocumentCreateStep2";
    Layout = "~/Views/ApplicationLogic/_userLayout.cshtml";
}

<h2>DocumentCreateStep2</h2>
@using (Html.BeginForm(new { title=ViewBag.title, groupName=ViewBag.group }))
<h2>Создание ведомости. Шаг 2</h2>
@using (Html.BeginForm())
{
<div class="row">
    <table class="table table-striped">
        <tr>
            <th>
                Название колонки
            </th>
            <th>
                Максимальный балл
            </th>
            <th>
                Рейтинг-контрольная?
            </th>
            <th>
                Итоговая?
            </th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.EditorFor(m => m[i].Name)</td>
                <td>@Html.EditorFor(m => m[i].MaxMark)</td>
                <td>@Html.CheckBoxFor(m => m[i].Rating)</td>
                <td>@Html.CheckBoxFor(m => m[i].Summary)</td>
            </tr>
        }
    </table>
    <br />
    <input type="submit" value="Create" class="btn btn-default" />
</div>
}