﻿@model UniversityRatingSystem.Models.DocumentStep1ViewModel

@{
    ViewBag.Title = "DocumentCreateStep1";
    Layout = "~/Views/ApplicationLogic/_userLayout.cshtml";
}

<h2>Создание ведомости. Шаг1</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Group)
                @Html.ValidationMessageFor(model => model.Group)
            </div>
        </div>
        <p class="warning">Внимание! Нужно указать точное количество колонок: количество лабораторных работ + количество рейтинг-контрольных</p>
        <div class="form-group">
            @Html.LabelFor(model => model.ColumnCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColumnCount)
                @Html.ValidationMessageFor(model => model.ColumnCount)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                 <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
