﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ApplicationLogic/_userLayout.cshtml";
}

<div class="jumbotron">
    <h1>Привет!!!</h1>
    <h2>@ViewBag.userRoles</h2>
    <h3>Это главная страница нашей системы. Тут, вероятно, будет какая-то полезная информация, но нам пока лень здесь что либо показывать, да и времени нет. Поэтому эта обязанность возложена на подрастающее поколение программистов, следующих по нашим пятам: пусть учатся на реальных и полезных для общества примерах.</h3>
</div>