﻿@model IEnumerable<UniversityRatingSystem.Models.Document>

@{
    ViewBag.Title = "ListDocuments";
    Layout = "~/Views/ApplicationLogic/_userLayout.cshtml";
}

<h2>ListDocuments</h2>

<p>
    @Html.ActionLink("Create New", "DocumentCreateStep1")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            Автор
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDocument", new { docId=item.DocumentId }) |
            @Html.ActionLink("Details", "DocumentDetails", new { id=item.DocumentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentId })
        </td>
    </tr>
}

</table>
