﻿@model IEnumerable<UniversityRatingSystem.Models.Document>

@{
    ViewBag.Title = "ShowDocuments";
    Layout = "~/Views/ApplicationLogic/_userLayout.cshtml";
}

<h2>ShowDocuments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "DocumentDetails", new { id=item.DocumentId })
        </td>
    </tr>
}

</table>
